* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Brush Script MT", cursive;
	background-image: url(../assets/jungle.jpg);
	background-repeat: no-repeat;
	background-size:cover;
}

.gameName {
	text-align: center;
	font-size: 40px;
}

.butn {
	background-color: transparent;
	border: none;
}

.container {
	margin: auto;
	text-align: right;
}

.dice {
	text-align: center;
	display: inline-block;
	margin: 10px;
}

img {
	width: 100%;
}

.container-fluid {
	background-image: url(../assets/background.jpg);
	background-repeat: no-repeat;
	background-size: 63% 100%;
	margin-left: 31%;
}

.row1 {
	display: flex;
	width: fit-content;
}

.column {
	background-color: transparent;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	width: 58.5px;
	height: 56px;
	font-weight: bold;
}
