* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Brush Script MT", cursive;
	background-image: url(../assets/jungle.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.gameName {
	text-align: center;
	font-size: 40px;
	color: indigo;
}

.butn {
	background-color: transparent;
	border: none;
}

.container2 {
	margin-top: 324px;
	margin-left: 40px;
	text-align: right;
}

.dice {
	text-align: center;
	display: inline-block;
	margin: 10px;
}

img {
	width: 100%;
}

.un {
	display: flex;
}

.container {
	background-image: url(../assets/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 23%;
}

.row1 {
	display: flex;
	width: fit-content;
}

.column {
	background-color: transparent;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	width: 72.5px;
	height: 56px;
	font-weight: bold;
}

#img2 {
	width: 68%;
}

#Play {
	color: white;
	font-size: 20px;
}

.img2 {
	position: absolute;
	width: 21%;
}

.img3 {
	position: absolute;
	width: 51%;
}

.box {
	display: flex;
	justify-content: center;
}

.button2 {
	font-size: 84px;
	color: white;
	background-color: darkred;
}